.box .back-face {
  padding: 30px;
  color: #3f2020;
  opacity: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  background: #c7b40b;
  transform: translateY(110px) rotateX(-90deg);
  box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
  transition: all 0.5s ease;
}

.box:hover .back-face {
  opacity: 1;
  transform: rotateX(0deg);
}
.box:hover .front-face {
  opacity: 0;
  transform: translateY(-110px) rotateX(90deg);
}

@media (max-width: 639px) {
  .box {
    margin: 1rem;
  }
}
